.Openings {
    grid-column: 1/max;
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
    background: #C8CEC2;
}

.Openings h2 {
    font-size: 42px;
    border-bottom: 3px solid #323D4F;
}

.Openings h2, .Openings ul {
    grid-column: 1;
    margin: 2em 0 0 0;
}

.Openings li {
    list-style-type: none;
    font-size: 30px;
    padding: 0.3em;
}

.Openings article {
    grid-column: 2;
    color: #C8CEC2;
    background: #323D4F;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2em;
}