.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #323D4F;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  background-color: #323D4F;
}

a {
  justify-self: center;
  margin: 1em 0;
  font-weight: bold;
  font-size: 20px;
}

a, a:visited, a:link, a:hover, a:active, a:focus {
  text-decoration: none;
  color: #C8CEC2;
}

a.accent {
  color: #A02534;
  justify-self: end;
}

.justify-left {
  justify-self: left;
}